<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="sidenav__toolbar">Menu</mat-toolbar>

    <mat-nav-list class="nav">
      <a mat-list-item routerLink="/players" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
        Players
      </a>
      <a mat-list-item routerLink="/teams" routerLinkActive="is-active">
        Teams
      </a>
      <a mat-list-item routerLink="/calendar" routerLinkActive="is-active">
        Calendar
      </a>
      <a mat-list-item routerLink="/gameplan" routerLinkActive="is-active">
        Strategy
      </a>
      <a mat-list-item routerLink="/training" routerLinkActive="is-active">
        Training Plans
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="topbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        matIconButton
        (click)="drawer.toggle()"
        class="topbar__btn"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="topbar__title">Menu</span>
    </mat-toolbar>

    <div class="content__body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
